<div id="battle-page">
    <table width="100%" style="table-layout:fixed;padding-top: 60px;">
        <tr>
            <td style="width: 275px;overflow: hidden;">
                <img style="border: 0px; margin-bottom: -2px;" src="{$CONFIG_CSS}/img/wave.gif">
            </td>					
            <td>
                <h1>BATTLES</h1>                
            </td>
            <td style="width: 275px;overflow: hidden;">
                <img style="border: 0px; margin-bottom: -2px;" src="{$CONFIG_CSS}/img/wave.gif">
            </td>
        </tr>
    </table>
    <ul class="popular">
        <li class="mr7">
            <img src="{$CONFIG_CSS}/img/demo.jpg">
            <h3>Daft Punk</h3>
            <h4>Random Access Memory</h4>
            <h5>LOSE YOU SELF TO</h5>
            <ul class="button-group">
                <li class="agree"><a href="#" class="button">AGREE</a></li>
                <li class="disagree"><a href="#" class="button">DISAGREE</a></li>                
            </ul>
        </li>
        <li class="mr7">
            <img src="{$CONFIG_CSS}/img/demo.jpg">
            <h3>James Blake</h3>
            <h4>Overgrown</h4>
            <h5>RETROGRADE</h5>
            <ul class="button-group">
                <li class="agree"><a href="#" class="button">AGREE</a></li>
                <li class="disagree"><a href="#" class="button">DISAGREE</a></li>                
            </ul>
        </li>
        <li class="mr7">
            <img src="{$CONFIG_CSS}/img/demo.jpg">
            <h3>Nirvana</h3>
            <h4>In Utero</h4>
            <h5>ALL APOLOGIES</h5>
            <ul class="button-group">
                <li class="agree"><a href="#" class="button">AGREE</a></li>
                <li class="disagree"><a href="#" class="button">DISAGREE</a></li>                
            </ul>
        </li>
        <li>
            <img src="{$CONFIG_CSS}/img/demo.jpg">
            <h3>The Velvet Underground</h3>
            <h4>The Velvet Underground</h4>
            <h5>SUNDAY MORNING</h5>
            <ul class="button-group">
                <li class="agree"><a href="#" class="button">AGREE</a></li>
                <li class="disagree"><a href="#" class="button">DISAGREE</a></li>                
            </ul>
        </li>
    </ul>    
</div>